# Single Prediction

In [1]:
import requests
url = 'https://loan-approval-app.herokuapp.com/result'

single_data = {'Gender': 'Male',
               'Married': 'No',
               'Dependents': '0',
               'Education': 'Graduate',
               'Self_Employed': 'No',
               'ApplicantIncome': 10000,
               'CoapplicantIncome': 10000,
               'LoanAmount': 1000,
               'Loan_Amount_Term': 30,
               'Credit_History': 1.0,
               'Property_Area': 'Urban'}

r = requests.post(url, json=single_data)
r

In [2]:
# probability of loan approval
r.json()

[0.43003047369511377, 'rejected']

# Multiple Prediction

In [3]:
import pandas as pd
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Loan_Data/loan_test.csv')
input_data = test_data.head()
input_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001116,Male,No,0,Not Graduate,No,3748,1668.0,110.0,360.0,1.0,Semiurban
1,LP001488,Male,Yes,3+,Graduate,No,4000,7750.0,290.0,360.0,1.0,Semiurban
2,LP002138,Male,Yes,0,Graduate,No,2625,6250.0,187.0,360.0,1.0,Rural
3,LP002284,Male,No,0,Not Graduate,No,3902,1666.0,109.0,360.0,1.0,Rural
4,LP002328,Male,Yes,0,Not Graduate,No,6096,0.0,218.0,360.0,0.0,Rural

In [4]:
url = 'https://loan-approval-app.herokuapp.com/result'

list_result = []
for data in input_data.to_dict('records'):
    r = requests.post(url, json=data)
    pred_prob, pred_class = r.json()
    list_result.append({
        'Loan_ID': data['Loan_ID'],
        'Probability': pred_prob,
        'Class': pred_class
    })
    
    print(r.json())

[0.7929062074485708, 'approved']
[0.8210172897566317, 'approved']
[0.7430511462318065, 'approved']
[0.6254485371256977, 'approved']
[0.11438380216855575, 'rejected']

In [5]:
pd.DataFrame(list_result)

    Loan_ID  Probability     Class
0  LP001116     0.792906  approved
1  LP001488     0.821017  approved
2  LP002138     0.743051  approved
3  LP002284     0.625449  approved
4  LP002328     0.114384  rejected